<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.dinghuang.activiti.infra.repository.ActivitiRepository">
    <update id="updateActReProcdef">
     UPDATE act_re_procdef
        SET
          app_version_ = 1
        WHERE
            id_ = #{id}
    </update>
</mapper>